body{
    font-family: 'Calibri',
    'Trebuchet MS','Helvetiac', 'Arial', 'LiHei Pro', '微軟正黑體',
    sans-serif;
    color: #333;
    background-color: rgb(230, 230, 230);
}

a {
    color:#333;
}

a:hover{
    text-decoration: none;
    color: #3796ff;
}

/* 反白顏色 */
::selection {
    background-color: #ff9837;
    color: rgb(255, 255, 255);
}

.topBar {
    position: fixed;
    z-index: 12;
    top: 0;
    right: auto;
    left: 66vw;
}

.topBarMask{
    background-color: rgb(230, 230, 230);
}

@media only screen and (min-width: 768px){
    .topBarMask{
        background-color: rgba(230,230,230,0);
    }
}

#logo {
    width: 60px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #logo{
        margin-left: 5vw;
    }
}

.nav {
    height: 100px;
    display: flex;
    align-items: center;
}

/* 電腦版topbarMask後看不出來 */
@media only screen and (min-width: 768px){
    .nav{
        height: 60px;
    }

    .topBar{
        margin: 20px 0;
    }
}

.hamburger {
    position: fixed;
    right: auto;
    left: 77vw;
    top: 30px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: rgb(0,0,0,0);
    z-index: 12;
}

.hamburger:hover{
    cursor: pointer;
}

button:focus {outline:0;}

.nav nav {
    display: inline-block;
}

.bar1,
.bar2,
.bar3 {
    width: 60px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1{
    background-color: #3796ff;
}

.bar2{
    background-color: rgb(255, 255, 255);
}

.bar3{
    background-color: #ff9837;
}

.change .bar1 {
    -webkit-transform: rotate(-30deg) translate(-5px, 15px);
    transform: rotate(-30deg) translate(-5px, 15px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(30deg) translate(0px, -2.5px);
    transform: rotate(30deg) translate(0px, -2.5px);
}

/*drawer*/
.drawer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    color: #333;
    background-color: rgb(230,230,230);
    width: 43.5vw;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    /* 先推到螢幕右邊 */
    transform: translateX(150%);
    transition: transform .7s ease-in-out;
}

#drawerItems {
    list-style: none;
    padding: 0;
    padding-left: 10.5vw;
    margin-top: 75px;
    font-size: 1.3rem;
}

@media only screen and (max-width: 768px){
    #drawerItems{
        margin-top: 35px;
    }
}

#drawerItems li{
    margin-bottom: 15px;
}

.drawerItem{
    position: relative;
}

.drawerItem::before{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: -6px;
    left: 0;
    background-color:#ff9837;
    transform-origin: bottom left;
    transition: transform 0.45s ease-in-out;
}

.drawerItem:hover::before{
    transform: scaleX(1);
}

.open {
    /* 再推回來 */
    transform: translateX(0);
}

/* contact */
.contact{
    margin-left: 10vw;
    margin-top: 20px;
    display: flex;
}

.contact img{
    width: 3.5rem;
}

@media only screen and (max-width: 768px){
    .contact img, .contact a{
        width: 60px;
        margin-right: 10px;
    }

    .contact span{
        display: none;
    }

    .contact{
        flex-direction: row;
    }
}

.contact a:hover{
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .contact{
        margin-left: 8vw;
    }
}

#maskMain{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

.articleOrigin{
    transform: translateX(0);
    transition: transform .8s ease-in-out;
}

.articleLeft{
    transform: translateX(-25%);
    transition: transform .6s ease-in-out;
}

/* 手機hamberger修改*/
@media only screen and (max-width: 768px) {
    .topBar{
        left: 0;
        width: 100vw;
    }
    .drawer{
        width: 75vw;
    }
    .hamburger{
        right: 25px;
        left: auto;
        top: 25px;
    }
}

/* 以下是footer */
#footer {
    word-break: keep-all;
    text-align: left;
    color: rgb(150, 150, 150);
    font-size: .75rem;
    padding-left: 66vw;
}

#footer a{
    color: rgb(150, 150, 150);
}

@media only screen and (max-width: 768px){
    #footer{
        padding-left:5vw;
    }
}

#footer span{
    margin-bottom: 50px;
}

/* goTop */
#goTop {
    width: 70px;
    position: fixed;
    left: calc(65vw + 230px - 70px);
    bottom: 97px;
    display: none;
    z-index: 2;
}

#goTop img, #goTopMobile img{
    width: 100%;
}

#goTop:hover{
    cursor: pointer;
}

#goTopMobile{
    display: none;
    width: 80px;
    margin: 50px 0 20px 5vw;
    /* position: fixed;
    bottom: 15px;
    background-color: white;
    padding: 5px;
    z-index: 2; */
}

/* 手機版 */
@media only screen and (max-width: 768px){
    #goTopMobile{
        display: block;
    }
    #goTop{
        right: 25px;
        transform: translateX(200%);
    }
}

/* fb share link */
.btn{
    margin-top: 30px;
    width: 70px;
    border: none;
    padding: 0;
}

.btn>img{
    width: 100%;
}

.btn-success{
    background-color: rgb(230, 230, 230);
}

.btn-success:hover, .btn-success:not(:disabled):not(.disabled):active{
    background-color: rgb(230, 230, 230);
}