body{
    font-family: 'Calibri',
    'Trebuchet MS','Helvetiac', 'Arial', 'LiHei Pro', '微軟正黑體',
    sans-serif;
}

a {
    color:#333;
}

/* 反白顏色 */
::selection {
    background-color: #333;
    color: white;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 3;
    background-color: rgb(250, 250, 250, 0);
}

.topBarMask{
    background-color: rgb(255, 255, 255);
}

/* menu dropdown */
.dropdown-content {
    transform: translateY(-300%);
    display: block;
    position: absolute;
    top: 100px;
    min-width: 133.32px;
    z-index: 1;
    text-align: center;
}

.dropdown-content div {
    height: 50px;
    line-height: 50px;
    color: black;
    text-decoration: none;
}

#fineArt:hover .dropdown-content {
    transform: translateY(0%);
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

#logo {
    height: 50px;
    cursor: pointer;
    margin-left: 5vw;
}

.nav {
    height: 100px;
    display: flex;
align-items: center;
}

.hamburger {
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    background-color: rgb(0,0,0,0);
}

.nav nav {
    display: inline-block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*drawer*/
.drawer {
    position: fixed;
    top: 100px;
    /* left: 100vw/2-(55.75)/2; */
    right: 0;
    z-index: 2;
    color: #333;
    background-color: rgb(250, 250, 250);
    width: 50vw;
    /*flex container*/
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /*先藏起來*/
    /* display: none; */
    /* 先推到螢幕右邊 */
    transform: translateX(150%);
    transition: transform .7s ease-in-out;
    box-shadow: 0px 0px 25px 3px rgba(50, 50, 50, 0.2);
    z-index: 4;
}

#drawerItems {
    list-style: none;
    padding: 0;
    margin-left: 5vw;
    margin-top: 20px;
    font-size: 1.5rem;
}

.drawerItem{
    margin-bottom: 10px;
}

.open {
    /* display: flex; */
    /* 再推回來 */
    transform: translateX(0);
}

/* 電腦版藏hamburger */
@media only screen and (min-width: 768px) {
    .nav .hamburger {
        display: none;
    }

    .drawer {
        display: none;
    }
}

/* deskMenu */
.menuHoverOn{
    background-color: rgba(0, 0, 0, 0.45);
}

.menu {
    position: absolute;
    top: 0px;
    right: 38vh;
    cursor: pointer;
}

.menu ul {
    padding-left: 0;
    margin-bottom: 0;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    height: 100px;
    width: 66.66px;
    text-align: center;
    font-size: 14px;
    padding-top: 41.5px;
    margin: 0 auto;
    transition-duration: .3;
    transition-timing-function: ease-in-out;
    color: black;
}

.menu a{
    text-decoration: none;
}

/* 手機藏global navigation */
@media only screen and (max-width: 768px) {
    .nav .menu {
        display: none;
    }
    #menuHoverBox {
        display: none;
    }
}


/* 以下是footer */
#footer {
    word-break: keep-all;
    text-align: left;
    color: rgb(150, 150, 150);
    font-size: .75rem;
    padding-left: 5vw;
}

#footer img{
    width: 35px;
}

#footer img:hover{
    cursor: pointer;
}

#footer .email{
    font-size: 1.05rem;
    margin-bottom: 0;
}

#footer span{
    margin-bottom: 50px;
}

/* goTop */
#goTop {
    height: 30px;
    position: fixed;
    right: 38vh;
    bottom: 50px;
    display: none;
    color: #333;
    text-decoration: underline;
}

#goTop:hover{
    cursor: pointer;
    font-weight: 700;
}

#goTopMobile{
    display: none;
    width: 30px;
    height: 30px;
    color: #333;
    text-decoration: underline;
    margin-left: 5vw;
    margin-bottom: 30px;
    font-size: 13pt;
    font-weight: 700;
}

/* 手機版 */
@media only screen and (max-width: 768px){
    #goTopMobile{
        display: block;
    }
    #goTop{
        right: 25px;
        transform: translateX(200%);
    }
}