body{
    font-family: 'Calibri',
    'Trebuchet MS','Helvetiac', 'Arial', 'LiHei Pro', '微軟正黑體',
    sans-serif;
    color: #333;
    background-color: white;
    cursor: default;
}

a {
    color:#333;
}

a:hover{
    text-decoration: none;
    color: #09bc33;
}

/* 反白顏色 */
::selection {
    background-color: #09bc33;
    color: white;
}

.topBar {
    position: fixed;
    z-index: 12;
    top: 0;
    right: auto;
    left: 66vw;
}

.topBarMask{
    background-color: white;
}

#logo {
    width: 60px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #logo{
        margin-left: 5vw;
    }
}

.nav {
    height: 100px;
    display: flex;
    align-items: center;
}

.hamburger {
    position: fixed;
    right: auto;
    left: 66vw;
    top: 100px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: rgb(0,0,0,0);
    z-index: 12;
}

.hamburger:hover{
    cursor: pointer;
}

button:focus {outline:0;}

.nav nav {
    display: inline-block;
}

.bar1,
.bar2,
.bar3 {
    width: 60px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1{
    background-color: #507dfc;
}

.bar2{
    background-color: #ffe459;
}

.bar3{
    background-color: #09bc33;
}

.change .bar1 {
    -webkit-transform: rotate(-30deg) translate(-5px, 15px);
    transform: rotate(-30deg) translate(-5px, 15px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(30deg) translate(0px, -2.5px);
    transform: rotate(30deg) translate(0px, -2.5px);
}

/*drawer*/
.drawer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    color: #333;
    background-color: white;
    width: 43.5vw;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    /* 先推到螢幕右邊 */
    transform: translateX(150%);
    transition: transform .7s ease-in-out;
}

#drawerItems {
    list-style: none;
    padding: 0;
    margin-left: 5vw;
    margin-top: 100px;
    font-size: 1.5rem;
}

#drawerItems li{
    margin-bottom: 15px;
}

.drawerItem{
    position: relative;
}

.drawerItem::before{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: -6px;
    left: 0;
    background-color:#09bc33;
    transform-origin: bottom left;
    transition: transform 0.45s ease-in-out;
}

.drawerItem:hover::before{
    transform: scaleX(1);
}

.open {
    /* 再推回來 */
    transform: translateX(0);
}

/* contact */
.contact{
    margin-left: 5vw;
    margin-top: 7.5vw;
}

.contact img{
    width: 70px;
}

.contact img:hover{
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    #drawerItems, .contact{
        margin-left: 13vw;
    }
}

#maskMain{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.articleOrigin{
    transform: translateX(0);
    transition: transform .8s ease-in-out;
}

.articleLeft{
    transform: translateX(-25%);
    transition: transform .6s ease-in-out;
}

/* 手機hamberger修改*/
@media only screen and (max-width: 768px) {
    .topBar{
        left: 0;
        width: 100vw;
    }
    .drawer{
        width: 75vw;
    }
    .hamburger{
        right: 25px;
        left: auto;
        top: 25px;
    }
}

/* 以下是footer */
#footer {
    word-break: keep-all;
    text-align: left;
    color: rgb(150, 150, 150);
    font-size: .75rem;
    padding-left: 66vw;
}

@media only screen and (max-width: 768px){
    #footer{
        padding-left:5vw;
    }
}

#footer .email{
    font-size: 1rem;
    margin-bottom: 0;
}

#footer span{
    margin-bottom: 50px;
}

/* goTop */
#goTop {
    height: 30px;
    position: fixed;
    left: calc(66vw + 60px);
    bottom: 97px;
    display: none;
    color: #09bc33;
    z-index: 99;
}

#goTop::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    transform: scaleX(0);
    bottom: -5px;
    left: 0;
    background-color: #50ccfd;
    transform-origin: bottom left;
    transition: transform 0.45s ease-in;
}

#goTop:hover{
    cursor: pointer;
    font-weight: 700;
}

#goTop:hover::before{
    transform: scaleX(1);
}

#goTopMobile{
    display: none;
    width: 30px;
    height: 30px;
    color: #09bc33;
    text-decoration: underline;
    margin: 50px 0 20px 5vw;
    font-size: 13pt;
    font-weight: 700;
}

/* 手機版 */
@media only screen and (max-width: 768px){
    #goTopMobile{
        display: block;
    }
    #goTop{
        right: 25px;
        transform: translateX(200%);
    }
}