        /* fancybox button design */
        .fancybox-button {
            background: transparent;
            color: #19aeb1;
        }

        .fancybox-toolbar .fancybox-button:hover {
            background: rgba(223, 223, 223, 0.5);
            color: #ff9237;
        }

        /* Make close button a bit bigger */
        .fancybox-button--close {
            padding: 7px;
        }

        .fancybox-button--thumbs{
            display: none;
        }

        /* Change background color */
        .fancybox-bg {
            background: #eee;
        }

        .fancybox-caption {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px 80px 60px 80px;
            color: #333;
            box-shadow: 0px 60px 30px 30px blue;
            font-size: 16px;
            text-align: left;
        }