.mainCard {
    width: 100%;
    display: flex;
    padding: 22px;
    padding-top: 64px;
}

h1 {
    font-weight: 100;
    font-family: '微軟正黑體',
        sans-serif;
    margin-top: 45px;
    width: 40vw;
    margin-left: 20vw;
    opacity: 0;
    position: relative;
    left: -200px;
    line-height: 52px;
}

.content{
    opacity: 1;
    margin-left: 15vw;
}

/* 電腦版mainCard左padding調整 */
@media only screen and (min-width: 768px) {
    .mainCard {
        padding-left: 5vw;
    }
}

.clear {
    clear: both;
}

.bio {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}


.bio img, .bio video {
    width: 100%;
    margin-bottom: 50px;
}

.bioText {
    word-break: break-all;
    text-align: justify;
    text-indent: 1em;
    font-size: 1.1rem;
    margin:35px 0;
    color:#333;
}

.bioText>p{
    margin-bottom: 1.75rem;
}

/* .bioText p:hover{
    color: #333;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
} */

@media only screen and (max-width: 768px){
    .bioText{
        color: #333;
    }
}

figcaption{
    color: rgb(150, 150, 150);
}

figcaption>a{
    color: rgb(150, 150, 150);
}

.engText {
    word-break: keep-all;
    text-indent: 0em;
    text-align: left;
    color: rgb(145, 145, 145);
}

.side {
    max-width: 230px;
    margin-left: 5vh;
    padding-left: 0;
    padding-top: 0;
    background-color: white;
    /* 先隱藏 */
    opacity: 0;
}

.side>nav>ol {
    padding: 0;
    font-size: .75rem;
    background-color: white;
}

/* 電腦版content寬度和breadcrumb */
@media only screen and (min-width: 768px) {
    .content {
        /* width: calc(100vw - (5vw + 280.3px + 42vh)); */
        width: 45vw;
    }

    .metaMobile {
        display: none;
    }
}

/* 手機板隱藏邊攔、內文不縮 */
@media only screen and (max-width: 768px) {
    .side {
        display: none;
    }

    .bioText {
        padding-right: 0;
    }

    h1 {
        margin-left: 0;
        margin-bottom: 20px;
        width: 100vw;
        padding: 0 5vw;
    }

    .mainCard{
        padding-top: 32px;
    }

    .content{
        margin-left: 0;
    }
}

.container {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.container>img {
    width: 100%;
}

.metadata>span{
    font-style: italic;
    line-height: 15px;
}

.metaMobile {
    border-top: 4px solid #09bc33;
    background-color: rgb(240, 240, 240);
    margin-top: -15px;
    margin-bottom: 35px;
    padding: 15px;
}

.metaMobile>p{
    margin:0;
    padding-bottom: 9px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #0DD6FF;
    word-break: break-all;
    text-align: justify;
    font-style: normal;
    line-height: 25px;
}