.bracket{
    color: #333;
    margin: 15px 0 70px 0;
    padding-left: 12px;
}

.bracketTitle{
    font-size: 1.4rem;
}

.bracketFlex{
    display: flex;
    flex-wrap: wrap;
    width: 96%; 
    justify-content: space-between;
}

.bracketItem{
    margin: 10px 0;
    margin-bottom: 15px;
}

.bracketItem img{
    width: 100%; 
    height: 450px; 
    object-fit: cover;
}

/* otherillu專用 */
.title {
    margin-top: 1px;
    max-width: 200px;
    word-break: keep-all;
}

h3{
    margin-bottom: 1.3rem;
}

@media only screen and (max-width: 768px){
    .bracketFlex{
        flex-wrap: wrap;
    }

    .bracketItem img{
        width: 140px;
        height: 140px;
    }

    .title {
        max-width: 140px;
    }
}