h1 {
    color: white;
}

.photos div {
    padding: 50px;
    background-color: white;
}

.photos img {
    width: 100%;
}

.photointro {
    color: white;
    display: none;
}

#otherPhotoMobile {
    display: none;
    margin: 0 50px 0 20px;
    border-top: 1px solid rgb(130, 130, 130);
}

body {
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: auto 100vh;
    }

    #otherPhotoMobile {
        display: block;
    }

    .photos div {
        padding: 20px;
        padding-bottom: 35px;
    }

    .photointro {
        display: block;
    }
}

.side,
.breadcrumb,
.breadcrumb-item,
.side>nav>ol {
    background-color: unset;
}

.side,
.side a,
.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.breadcrumb-item.active {
    color: #ff9237;
}

.otherPhoto {
    margin-top: 50px;
    padding: 0;
}

.otherPhoto li {
    list-style: none;
}

a:hover {
    color: #ff9237;
    background-color: rgba(0, 0, 0, .75);
}