.mainCard {
    width: 100%;
    padding-bottom: 22px;
    padding-right: 20vw;
    padding-left: 15vw;
}

.grid-item {
    width: 230px;
    padding: 7px;
}

.clear {
    clear: both;
}

.projects {
    max-width: 230px;
    margin-bottom: 30px;
    margin-right: 1vw;
    padding: 5px;
    border: rgba(233, 87, 19, 0) solid 1px;
    /* display: inline-block; */
}

.projects:hover {
    border: #58ee00 solid 1px;
    cursor: pointer;
}

.projects::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    transform: scaleX(0);
    top: 0;
    left: 0;
    background-color: #3a0bd6;
    transform-origin: bottom left;
    transition: transform 0.45s ease-in;
}

.projects:hover::before{
    transform: scaleX(1);
}

.container {
    height: 157px;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
}

.coverImg {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

/* 手機板 */
@media only screen and (max-width: 768px) {
    .container {
        height: auto;
        max-height: 240px;
    }

    .projects {
        max-width: 100%;
    }

    .grid-item {
        width: 90vw;
    }

    .projects>img {
        width: 100%;
        height: auto;
    }

    .mainCard {
        padding: 0 5vw;
    }

    .title {
        font-size: 1.35rem;
    }
}

.description {
    word-break: break-all;
    text-align: left;
}

.description p {
    margin-bottom: 0;
}

.title {
    font-size: 1.15rem;
    font-weight: bold;
    color: #333;
    line-height: 18.5px;
}

/* .title:hover {
    color: #d6330b;
} */

.type {
    font-size: 1rem;
    font-style: oblique;
}

.media,
.date {
    font-size: .75rem;
    color: rgb(130, 130, 130);
    line-height: 15px;
}

.intro {
    margin-top: 7px;
    font-size: .9rem;
    line-height: 20px;
}