.heightadjust {
    height: 64px;
}

.mainCard {
    padding-bottom: 22px;
    padding-right: 20vw;
    padding-left: 15vw;
}

.hoverImgIntro {
    background-color: rgba(3, 26, 18, 0.75);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 0 250px 10px 25px;
    text-align: justify;
}

@media only screen and (max-width: 768){
    .hoverImgIntro{
        display: none;
    }
}

.grid-item {
    width: 230px;
    padding: 7px;
    margin-bottom: 25px;
}

.clear {
    clear: both;
}

.projects {
    max-width: 230px;
    padding: 5px;
    border: rgba(233, 87, 19, 0) solid 1px;
}

.projects:hover {
    border: #bcbcbc solid 1px;
    cursor: pointer;
}

.container {
    height: 157px;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
}

.coverImg {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

/* 手機板 */
@media only screen and (max-width: 768px) {
    .container {
        height: auto;
        max-height: 240px;
    }

    .projects {
        max-width: 100%;
    }

    .grid-item {
        width: 90vw;
    }

    .projects>img {
        width: 100%;
        height: auto;
    }

    .mainCard {
        padding: 0 5vw;
    }

    .title {
        font-size: 1.35rem;
    }
}

.description {
    word-break: break-all;
    text-align: left;
}

.description p {
    margin-bottom: 0;
}

.title {
    font-size: 1.15rem;
    font-weight: bold;
    color: #333;
    line-height: 21.5px;
}

.type {
    font-size: 1rem;
    font-style: oblique;
    color: #333;
}

.media,
.date,
.intro {
    font-size: .75rem;
    color: rgb(130, 130, 130);
    line-height: 15px;
}

.date{
    margin-top: 5.5px;
}

.intro {
    margin-top: 3.5px;
    font-size: .9rem;
    line-height: 20px;
    text-align: justify;
}

.flex-caption {
    width: 60%;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: -33.13px;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.slides img {
    margin-bottom: 0;
}

/* 限制輪播的圖片高度 */
#slider img {
    max-height: 400px;
    width: 100%;
    max-width: 690px;
    object-fit: cover;
}

#carousel img {
    height: 80px;
    object-fit: cover;
}

#carousel li:hover {
    cursor: pointer;
}

.content {
    margin-left: 0;
    width: 100%;
    max-width: 690px;
}

.division {
    width: 96%;
    margin: 35px 0 19px 0;
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .flex-caption {
        width: 100%;
    }

    .flexslider {
        margin-bottom: 30px;
    }

    .division {
        padding-left: 0;
    }

    #slider img {
        max-height: 188px;
        width: -webkit-fill-available;
        object-fit: cover;
    }
}
