.topBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 99;
    background-color: rgb(245, 245, 245);
    border-bottom: solid;
    border-color:rgb(205, 205, 205);
    border-width: .75px;
}

#logo {
    height: 6vh;
    position: relative;
    top: 1.5vh;
    left: 2vh;
    cursor: pointer;
}

.nav {
    height: 60px;
}

.hamburger {
    position: absolute;
    top: 1.5vh;
    right: 2vh;
    border: none;
    background-color: rgb(255,255,255,0);
}

.nav nav {
    display: inline-block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*drawer*/
.drawer {
    position: fixed;
    top: 60px;
    left: 100vw/2-(55.75)/2;
    z-index: 1;
    color: #333;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    /*flex container*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*先藏起來*/
    /* display: none; */
    /* 先推到螢幕上面 */
    transform: translateY(-150%);
    transition: transform .7s ease-in-out;
}

#drawerItems {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

#drawerItem :visited {
    cursor: pointer;
}

.open {
    /* display: flex; */
    /* 再推回來 */
    transform: translateY(0);
}

/* 電腦版藏hamburger */
@media only screen and (min-width: 768px) {
    .nav .hamburger {
        display: none;
    }

    .drawer {
        display: none;
    }
}

/* deskMenu */
.menu {
    position: absolute;
    top: 18px;
    right: 12vh;
}

.menu ul {
    padding-left: 0;
    margin-bottom: 0;
}

.menu li {
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 18px;
    color: #333;
    margin: 0 auto;
    margin-right: 10px;
    transition-duration: .3;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: white;
    cursor: pointer;
}

/* 手機藏global navigation */
@media only screen and (max-width: 768px) {
    .nav .menu {
        display: none;
    }
}